[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Moko
Exec=/usr/bin/invoker --type=d -s /opt/Moko/bin/Moko
Icon=/usr/share/icons/hicolor/80x80/apps/Moko80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
MimeType=x-maemo-urischeme/moko;
